[Desktop Entry]
Encoding=UTF-8
Name=Plasmatube
Comment=Plasmoid for viewing youtube videos.
Type=Service

Icon=video-television
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Hill
X-KDE-PluginInfo-Email=zanturik@gmail.com
X-KDE-PluginInfo-License=LGPLv2
X-KDE-PluginInfo-Name=org.kde.plasmatube
X-KDE-PluginInfo-Version=3.0.2
X-KDE-PluginInfo-Website=plasmatube.maka.tk
X-KDE-PluginInfo-Category=Multimedia

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-StandAloneApp=true
